<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ronk.ex20220714.flickr_gallery">
<uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity
            android:name=".gallery.FlickrGalleryActivity"
            android:exported="true"
            android:label="@string/flickr_gallery_activity_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".single.FlickrItemActivity" />
    </application>

</manifest>